# Terraform state files
*.tfstate
*.tfstate.*
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform plan files
*.tfplan

# .terraform directories (modules, plugins)
.terraform/

# Crash log files
crash.log

# Windows system files
Thumbs.db
ehthumbs.db

# IDE-specific files (Optional, for specific IDEs like VS Code or IntelliJ)
.vscode/
.idea/
